<header id="header">
  <h1><a href="/">MUUUSY</a></h1>
  <div class="searchArea">
    <i class="fa fa-search"></i>
    <input type="text" class="searchText" placeholder="Search Album">
    <input type="button" class="searchTrigger" value="Search">
  </div>
  <nav class="gNav">
    <ul>
      <li class="navHome"><a><i class="fa fa-home"></i></a></li>
      <li class="navNotification"><a><i class="fa fa-bell"></i></a></li>
      <%# <li class="navFav"><a><i class="fa fa-heart"></i></a></li>%>
      <li class="navUser"><a><img src="/img/common/user/testusr.jpg"><span class="caption">takahashi</span></a></li>
    </ul>
  </nav>
</header>
