/*
 * common
 * common：全ページ共通のcss。
 */

@charset "UTF-8";
@import "nib"

@import "../_common/var/_settings";
@import "../_common/var/_sprite";
@import "../_common/base/_all";
@import "../_common/functions/_all";
@import "../_common/layout/_all";
@import "../_common/module/_all";

@import "layout/_all";
