<div id="newsListView">
  <div class="listLoader hide">
    <% include ../../_partials/loader %>
  </div>
  <ul class="albumList jsMasonry hide"></ul>
  <div class="albumDetailModalView hide"></div>
</div>
