<div class="profView">
  <img class="profImg" src="/img/common/user/testusr.jpg" alt="">
  <h2>takahashi</h2>
</div>
<h2><i class="fa fa-heart"></i> Favorites</h2>
<div id="favListView">
  <div class="listLoader hide">
    <% include ../../_partials/loader %>
  </div>
  <ul class="albumList jsMasonry hide"></ul>
  <div class="albumDetailModalView hide"></div>
</div>
