<h2>Search</h2>
<div id="searchListView">
  <div class="listLoader hide">
    <% include ../../_partials/loader %>
  </div>
  <ul class="albumList jsMasonry hide"></ul>
  <div class="albumDetailModalView hide"></div>
</div>
